<div ng-controller="leaderboardController">
  <h1>Leaderboard</h1>
  <ol class="leaderboard">
    <li ng-repeat="score in scores">
      <span>{{score.initials}}</span>
      <span>{{score.highscore}}</span>
      <!-- format the date leter with moment.js -->
      <span>{{score.date | date:"MM/dd/yyyy" }}</span>
    </li>
  </ol>
  <button ng-click="startGame()">playAgain( )</button>
  <input type="submit" ng-click="logout()" value="Log out" />
  <input type="submit" ng-click="performance()" value="View your performance" />
</div>